@model AppVendasWeb.Models.ItemDaVenda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemDaVenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VendaId" class="control-label"></label>
                <input asp-for="VendaId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Criar" class="btn btn-danger" />
                <a class="btn btn-outline-danger" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
